body{
    background-color: darkred;
    font-family: Arial, Helvatica, Arial, Helvetica, sans-serif
}
h1{
    color: rebeccapurple;
    text-align: center;
}
a{
    text-decoration: none; 
}
a:hover{
    color:aliceblue;
}
.assign{
    margin: 10px;
    padding: 10px;
    background-color: grey;
    display: flex;
    border-radius: 20px;
     

}
.assign img{
    width: 400px;
    margin: 10px;
    border: 2px solid darkred;
}
